<html>
  <head>
    <title>Cadastro de contas</title>
  </head>
<body>
  <form  [formGroup]="form"
  (ngSubmit)="saveConta(form.value)">
    <table style="border: 1px solid black;border-collapse: collapse; border: 1px solid black;">
      <tr>
        <td style="padding: 10px;">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" formControlName="nome" size="35"  [(ngModel)]="conta.nome">
        </td>
      </tr>
      <tr>
        <td style="padding: 10px;">
          <label for="valor">Valor:   </label>
          <input type="text" name="valor" id="valor" formControlName="valor"size="35"  [(ngModel)]="conta.valorOriginal" >
        </td>
    </tr>
    <tr>
      <td style="padding: 10px;">
        <label for="dataVencimento">Data de Vencimento:</label>
        <input type="text" name="dataVencimento" id="dataVencimento" formControlName="dataVencimento"  [(ngModel)]="conta.dataVencimento">
      </td>
    </tr>
    <tr>
      <td style="padding: 10px;">
        <label for="dataPagamento">Data de Pagamento: </label>
        <input type="text" name="dataPagamento" id="dataPagamento" formControlName="dataPagamento"  [(ngModel)]="conta.dataPagamento">
      </td>
    </tr>
    <tr>
      <td style="padding: 10px;">
        <button type="submit" >Save</button>
      </td>
    </tr>
    </table>
  </form>
</body>
</html>




<router-outlet></router-outlet>