<html>

<head>
  <title>Lista de pautas</title>
</head>

<body>
  <ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">Associado</a></li>
    <li><a role="button" (click)="doVoto()">Votar pauta</a></li>
    <li><a role="button" (click)="doCadastroAssociado()">Cadastrar Associado</a></li>
    <li><a role="button" (click)="doListaAssociado()">Lista de associado</a></li>
    <li><a role="button" (click)="doLogin()">Login</a></li>
    <li><a role="button" (click)="doCadastroPauta()">Cadastrar pauta</a></li>
  </ul>

  <form>
    <div>
      
      <div class="card-body" [hidden]="isHiddenListaAssociado ">
        <h3 class="card-header">Lista de ASSOCIADOS do sistema.</h3>
        <table class="table">
          <th>Pauta</th>
          <th>Id</th>
          <!-- <th>Visualizar</th> -->
          <tr *ngFor="let item of listaAssociado; ">
            <td> {{item.nome}}</td>
            <td> {{item.id}}</td>
            <!-- <td><input (click)="doForm(i)" [index]="i" value="send" type="button" /> -->
          </tr>
        </table>
      </div>
      <div>
        <div class="card-footer pb-0 pt-3" [hidden]="isHiddenListaAssociado ">
          <jw-pagination [items]="listaAssociado" (changePage)="onChangePage1($event)"></jw-pagination>
        </div>
      </div>
    </div>
  </form>


  <form>
    <div class="card text-center m-3">
      <h3 class="card-header">Lista de pautas do sistema.</h3>
      <div class="card-body">

        <table class="table">
          <th>Pauta</th>
          <th>Id</th>
          <!-- <th>Visualizar</th> -->
          <tr *ngFor="let item of pageOfItems; let i = index">
            <td> {{item.texto}}</td>
            <td> {{ item.id}}</td>
            <!-- <td><input (click)="doForm(i)" [index]="i" value="send" type="button" /> -->
          </tr>
        </table>
      </div>
      <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
      </div>
    </div>
  </form>
  <div [hidden]="isHidden">
    <table>
      <tr>
        <td>Login</td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td>Senha</td>
        <td><input type="password" /></td>
      </tr>
      <tr>
        <input value="Enviar" type="button" />
      </tr>
    </table>
  </div>

  <div>
    <br><br>
  </div>
  <div [hidden]="isHiddenCadastroPauta">
    <form [formGroup]="form" (ngSubmit)="savePauta(form.value)">
      <table>
        <tr>
          <td>Pauta</td>
          <td><input type="text" size="50" id="texto1" formControlName="texto1" [(ngModel)]="pauta.texto" /></td>
        </tr>

        <tr>
          <input value="Enviar" type="button" type="submit" />
        </tr>
      </table>
    </form>
  </div>

  <div>
    <br><br>
  </div>
  <div [hidden]="isHiddenCadastroAssociado">
    <form [formGroup]="formAssociado" (ngSubmit)="saveAssociado(form.value)">
      <table>
        <tr>
          <td>Nome</td>
          <td><input type="text" formControlName="nome" [(ngModel)]="associado.nome" /></td>
        </tr>
        <tr>
          <td>CPF</td>
          <td><input type="text" formControlName="cpf" [(ngModel)]="associado.cpf" /></td>
        </tr>
        <tr>
          <input value="Enviar" type="button" type="submit" />
        </tr>
      </table>
    </form>
  </div>
  <div><br></div>
  <div [hidden]="isHiddenVoto">
    <form [formGroup]="formVoto" (ngSubmit)="saveVoto(form.value)">
      <table>
        <tr>
          <td>id Associado</td>
          <td><input type="text" formControlName="idAssociado" [(ngModel)]="voto.idAssociado" /></td>
        </tr>
        <tr>
          <td>id pauta</td>
          <td><input type="text" formControlName="idPauta" [(ngModel)]="voto.idPauta" /></td>
        </tr>
        <tr>
          <td>SIM/NAO</td>
          <td><input type="text" formControlName="voto" [(ngModel)]="voto.votoEnum" /></td>
        </tr>
        <tr>
          <input value="Enviar" type="button" type="submit" />
        </tr>
      </table>
    </form>
    
  </div>

<div>
<div><br><br><br></div>
 <div>
  <form [formGroup]="formIdPauta"(ngSubmit)="iniciaVotacao(form.value)"> 
    <table>
      <tr>
        <td>id da pauta para iniciar votacao</td>
        <td><input type="text"  formControlName="pautaId" [(ngModel)]="pautaId.id" /></td>
      </tr>
      <tr>
        <input value="Enviar" type="button" type="submit" />
      </tr>
    </table>
  </form>


    
  </div>
</div>

</body>

</html>
<router-outlet></router-outlet>